{
  "IMG_0040.CR2":{
    "type":"file",
    "name":"IMG_0040.CR2",
    "path":"/Users/austenmc/Dropbox (Personal)/Unprocessed/IMG_0040.CR2",
    "directory":"/Users/austenmc/Dropbox (Personal)/Unprocessed"
  }
}
