{
   "RAW-2017-11":{
      "type":"directory",
      "name":"RAW-2017-11",
      "path":"sync/RAW-2017-11",
      "directory":"sync",
      "contents":{
         "bar.cr2":{
            "type":"file",
            "name":"bar.cr2",
            "directory":"sync/RAW-2017-11",
            "path":"sync/RAW-2017-11/bar.cr2",
            "size":3,
            "modified":"2017-12-16T08:00:21.020Z"
         }
      }
   },
   "RAW-2017-12":{
      "type":"directory",
      "name":"RAW-2017-12",
      "path":"sync/RAW-2017-12",
      "directory":"sync",
      "contents":{
         "foo.cr2":{
            "type":"file",
            "name":"foo.cr2",
            "directory":"sync/RAW-2017-12",
            "path":"sync/RAW-2017-12/foo.cr2",
            "size":0,
            "modified":"2017-12-16T08:00:09.439Z"
         }
      }
   }
}
